{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'default/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/goods_detail.css' %}">
    <script src="{% static 'default/js/safe.js' %}"></script>
</head>
<body>
    <div class="logo"><a href="/"><div></div></a></div>
    <div class="goods">
        {% if goods.imagefile != "" %}
            <div class="image"><img src="/static/upload/{{goods.imagefile}}" alt=""></div>
        {% else %}
            <div class="image"><img src="https://inews.gtimg.com/newsapp_bt/0/15133660520/1000" alt=""></div>
        {% endif %}
        <div class="detail">
            <div class="set">
                <div class="symbol"></div>
                <div class="set_box">
                    <div class="delete_goods">删除</div>
                    <div class="edit_goods"><del>编辑</del></div>
                </div>
            </div>
            <div class="w">
            <div class="dt">商品详情</div>
            <div class="dd">商品名称:<i>{{goods.name}}</i></div>
            <div class="dd">商品价格:<i>{{goods.price}}</i>¥</div>
            <div class="dd">上架时间:<i>{{goods.issuedate}}</i></div>
            <div class="dd">商品描述:<i>{{goods.introduction}}</i></div>
            <div class="tochat">
                <a href="/userIssue/PM/{{goods.owner.id}}" >私聊我</a>
            </div>
            
            <div class="tocomment">评论商品&nbsp</div>
            <form  class="addmc" action="" method="post">
                <!-- 安全性参数 -->
                {% csrf_token %}
                <textarea class="addmcomment" required="required" name="content"></textarea>
                <input type="submit"class="uploadmc" value="评论">
            </form>
            </div>

            <!-- 删除商品_表单 -->
            <form class="delete_goods_form" action="../../delGoods/" method="post">
                <!-- 安全性参数 -->
                {% csrf_token %}
                <input name="goods_id"  value={{goods.id}}>
                <input type="submit" class="delete_upload">
            </form>
        </div>
    </div>
    <!--母评-->
    <div class="bigbox">
    {% for mcon in msg_ces %}
        <div class="comment" index={{ forloop.counter }}>
            <div class="mcomment" id={{ mcon.id }}>
                <div class="comhp">
                    <img src="{% static 'upload/'%}{{mcon.owner.avatar}}"> 
                </div>
                <div class="commentator">
                    <div class="comname">{{ mcon.owner.name }}</div>
                    <div class="comtime">{{mcon.messagedate}}</div>
                    <div class="comcontent">{{mcon.content}}</div> 
                    <div class="tomcomment" index="{{ forloop.counter }}">回复</div>
                </div>
            </div>
            <!-- <form class="addsc" action="">
                <input type="submit" class="uploadsc" value="发送">
                <textarea class="addsoncomment" name="" required="required"></textarea>
            </form> -->
        </div>
    {% endfor %}
    </div>
    <!--
    子评实际样式
    <div class="soncomment">
        <div>昵称</div>
        <div>回复评论的内容</div>
        <div>时间</div>
    </div>
    -->
    <div class="detfoot"></div>


    <script>
        //选择同一类名的所有元素
        var getElementsByClassName = function(classname) {
            //如果浏览器支持getElementsByClassName，使用现有方法
            if(document.getElementsByClassName) {
                return document.getElementsByClassName(classname);
            }else{
                //定义一个数组保存所要获取的变量
                var results=new Array();
                var elems=document.getElementsByTagName("*");
                for (var i=0;i<elems.length;i++) {
                    if(elems[i].className){
                        //将className通过空格分开并保存到数组
                        var elem_classname = new Array();
                        elem_classname = elems[i].className.split(' ');
                        for (var j=0;j<elem_classname.length;j++) {
                            //如果传入的类名和循环的类名相同，返回这个元素到results数组
                            if (classname == elem_classname[j]) {
                                results.push(elems[i]);
                            }
                        }
                    }
                }
                return results;
            }
        }

        //加载评论
        //存储子评论于js数组
        var scomment_num = {{ msg_ces_num }};//母评论数与子评论堆数一致
        var scomments = new Array(scomment_num);//子评总集
        for (var i=0;i<scomment_num;i++){//各子评集
            scomments[i]=new Array(10);
            for (var j=0;j<10;j++){//子评
                scomments[i][j]=new Array(4);//0昵称、1内容、2时间、3ID
            }
        }
        var num_i = 0;
        var num_j = 0;
        {% for scom1 in msg_cts_list %}
            {% for scom2 in scom1 %}
                scomments[num_i][num_j][0]="{{scom2.owner.name}}";
                scomments[num_i][num_j][1]="{{scom2.content}}";
                scomments[num_i][num_j][2]="{{scom2.messagedate}}";
                scomments[num_i][num_j][3]="{{scom2.id}}"
                num_j++;
            {% endfor %}
            num_i++;
            num_j=0;
        {% endfor %}
        
        //生成
        var big = document.querySelector('.bigbox');
        for (var i=0;i<scomment_num;i++){
            for(var j=0;j<30;j++){
                if(scomments[i][j][0]==null) break;
                else{
                    var div_box = this.document.createElement('div');
                    var span_name = this.document.createElement('span');
                    var span_content = this.document.createElement('span');
                    var div_time = this.document.createElement('div');
                    var div_reply = this.document.createElement('div');
                    var child = big.children[i];
                    child.appendChild(div_box);
                    div_box.appendChild(span_name);
                    div_box.appendChild(span_content);
                    div_box.appendChild(div_reply);
                    div_box.appendChild(div_time);
                    span_name.innerHTML=scomments[i][j][0];
                    span_content.innerHTML=':'+scomments[i][j][1];
                    div_time.innerHTML=("——————" + scomments[i][j][2] );
                    div_box.className="soncomment";
                    div_box.setAttribute("id",scomments[i][j][3]);
                    span_name.className="name";
                    div_time.className="time";
                    div_reply.innerHTML=('回复');
                    div_reply.className='replysc';
                }
            }
        }

        //添加评论框
        var add_case = function(father,Object,reply_to){
            var addsc = document.createElement('form');
            var uploadsc = document.createElement('input');
            var addsoncomment =document.createElement('textarea');
            var msg_ces =document.createElement('input');
            var msg_cts =document.createElement('input');
            var csrf_token = document.createElement('input');
            father.appendChild(addsc);
            addsc.appendChild(uploadsc);
            addsc.appendChild(addsoncomment);
            addsc.appendChild(msg_ces);
            addsc.appendChild(msg_cts);
            addsc.appendChild(csrf_token);
            addsc.className='addsc';
            addsc.setAttribute('action',"");
            addsc.setAttribute('method',"post");
            addsc.setAttribute('name','');
            uploadsc.className='uploadsc';
            uploadsc.setAttribute('type','submit');
            uploadsc.setAttribute('value','发送');
            addsoncomment.className='addsoncomment';
            addsoncomment.setAttribute('name','content');
            addsoncomment.setAttribute('required','required');
            addsoncomment.setAttribute('placeholder','回复@'+Object+': ');
            msg_ces.style.display='none';
            msg_ces.setAttribute('name','reply_from');
            msg_ces.value=father.getElementsByClassName("mcomment")[0].getAttribute('id');
            msg_cts.style.display='none';
            msg_cts.setAttribute('name','reply_to');
            msg_cts.value=reply_to.getAttribute('id');
            csrf_token.setAttribute('name','csrfmiddlewaretoken');
            csrf_token.value="{{csrf_token}}";
            csrf_token.style.display='none';
            
        }
        //评论商品
        var tocomment =document.querySelector('.tocomment');
        var addmc = document.querySelector('.addmc');
        var time =0;
        tocomment.addEventListener('click',function(){
            if (time==0){
                addmc.style.opacity='1';
                tocomment.innerHTML=('收起评论&nbsp');
                time++;
            }
            else{
                addmc.style.opacity='0';
                tocomment.innerHTML=('评论商品&nbsp');
                time--;
            }
        })
        //回复评论
        var current_case = new Array(-1,-1);
        var reply =getElementsByClassName("tomcomment");//母评回复按钮集合
        var comments_gather=getElementsByClassName("comment");//母评及其子评所在盒子的集合
        //母评回复按钮点击事件
        for(let i=0;i<reply.length;i++){
            reply[i].index=i;
            reply[i].addEventListener('click',function(){
                if(reply[i].innerHTML=="回复"){
                    if(current_case[0]!=-1){
                        reply[current_case[0]].innerHTML="回复";
                        var rsc_before = comments_gather[current_case[0]].getElementsByClassName('replysc');
                        for(let a=0;a<rsc_before.length;a++){
                            rsc_before[a].innerHTML="回复";
                        }
                        comments_gather[current_case[0]].removeChild(comments_gather[current_case[0]].children[comments_gather[current_case[0]].children.length-1]);
                    }
                    var comname = comments_gather[i].getElementsByClassName('comname');
                    var mcomment_list = comments_gather[i].getElementsByClassName('mcomment');
                    add_case(comments_gather[i],comname[0].innerHTML,mcomment_list[0]);
                    current_case[0]=i;
                    reply[i].innerHTML="收起";
                }
                else if(reply[i].innerHTML=="收起"){
                    reply[i].innerHTML="回复";
                    comments_gather[current_case[0]].removeChild(comments_gather[current_case[0]].children[comments_gather[current_case[0]].children.length-1]);
                    current_case[0]=-1;
                }
            })
            var replysc = comments_gather[i].getElementsByClassName("replysc");
            //子评回复按钮点击事件
            if(replysc.length > 0){
                for(let j=0;j<replysc.length;j++){
                    replysc.index=i;
                    replysc[j].addEventListener('click',function(){
                        var mm=comments_gather[i].children[j+1].getElementsByClassName('replysc');
                        if(mm[0].innerHTML=="回复"){
                            if(current_case[0]!=-1){
                                reply[current_case[0]].innerHTML="回复";
                                var rsc_before = comments_gather[current_case[0]].getElementsByClassName('replysc');
                                for(let a=0;a<rsc_before.length;a++){
                                    rsc_before[a].innerHTML="回复";
                                }
                                comments_gather[current_case[0]].removeChild(comments_gather[current_case[0]].children[comments_gather[current_case[0]].children.length-1]);
                            }
                            var soncomment_name = comments_gather[i].getElementsByClassName('name');
                            var soncomment_list = comments_gather[i].getElementsByClassName('soncomment');
                            add_case(comments_gather[i],soncomment_name[j].innerHTML,soncomment_list[j]);
                            current_case[0]=i;
                            mm[0].innerHTML="收起";
                        }
                        else if(mm[0].innerHTML=="收起"){
                            mm[0].innerHTML="回复";
                            comments_gather[current_case[0]].removeChild(comments_gather[current_case[0]].children[comments_gather[current_case[0]].children.length-1]);
                            current_case[0]=-1;
                        }
                    })
                }
            }
        }
        // 回复按钮btn.click,function(){
        //     if(btn.innerHTML="回复"){
        //         if(有其他评论框){
        //             将原评论框对应按钮值改为"回复";
        //             删除当前评论框;
        //         }
        //         添加评论框;
        //         btn.innerHTML="收起";
        //     }
        //     else if(btn.innerHTML=="收起"){
        //         删除当前评论框;
        //     }
        // }

        // 设置
        var set = document.querySelector('.set');
        var set_box= document.querySelector('.set_box');
        var symbol = document.querySelector('.symbol');
        var time =0;
        symbol.addEventListener('click',function(){
            if(time==0){
                time++;
                set_box.style.opacity='1';
            }
            else {
                time--;
                set_box.style.opacity='0';
            }
        })
        var delete_goods = document.querySelector('.delete_goods');
        var delete_upload = document.querySelector('.delete_upload');
        delete_goods.addEventListener('click',function(){
            delete_upload.click();
        })
    </script>
        
</body>
</html>