body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* 大盒子 */
.goods {
    display: flex;
    width: 750px;
    height: 500px;
    border-radius: 15px;
    background-color: rgba(255,255,255,.5);
    overflow: hidden;
    margin-top: 150px;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    body {
        overflow-x: hidden;
    }
    .goods {
        display: flex;
        width: 95vw;
        height: 66vw;
        border-radius: 15px;
        background-color: rgba(255,255,255,.5);
        overflow: hidden;
        margin-top: 80px;
    }
}
/* 信息栏 */
.detail {
    width: 55%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
/* 图片 */
.image {
    width: 45%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 10px 0px 30px rgba(0,0,0,.6);
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 设置 */
.set {
    position: relative;
    left:85%;
    top:1%;
    width: 45px;
    /* height: 15%; */
    font-size: 18px;
    cursor: pointer;
    font-family: 'icomoon';
    /* background-color: rgba(0,0,0,.3); */
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .set {
        left:82%;
        font-size: 14px;
    }
}
@media screen and (orientation:portrait) and (max-width:480px) {
    .set {
        left:72%;
        
    }
    .set_box {
        font-size: 10px;
        scale: 0.9;
    }
}
.symbol:hover {
    color: rgba(31, 157, 230, 0.912);
}
.delete_goods_form {
    display: none;
}
.symbol {
    transform: translateX(70%);
}
.set_box {
    width: 100%;
    height: 60%;
    background-color: rgba(255,255,255,.6);
    position: relative;
    border-radius: 5px;
    opacity: 0;
}
.set_box div {
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 100%;
    padding: 2px 0;
    font-size: 12px;
    cursor: pointer;
}
.set_box div:hover {
    background-color: rgba(35, 198, 226, 0.3);
    color: brown;
}
/* 详情页版心 */
.w {
    width: 100%;
    height: 85%;
    /* background-color: rgba(0,0,0,.1); */
}

/* 标题 */
.detail .dt {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
/* 子项 */
.detail .dd {
    width: 90%;
    height: 33px;
    font-size: 17px;
    line-height: 40px;
    margin-left: 10%;
}
.detail .det {
    width: 90%;
    height: auto;
    font-size: 17px;
    line-height: 40px;
    margin-left: 10%;
}
.tocomment {
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-family: 'icomoon';
    position: relative;
    /* top:30%; */
    cursor:pointer;
    /* background-color: rgba(255,255,255,0.1); */
}
.tochat {
    /* transform: translate(280px,60px); */
    font-family: 'icomoon';
    position: relative;
    font-size: 14px;
    left:75%;
    top:30%;
    cursor: pointer;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .detail .dt {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .detail .dd {
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .detail .det {
        height: auto;
        font-size: 14px;
        line-height: 20px;
    }
    .tocomment {
        font-size: 13px;
        margin-top: -12px;
    }
    .tochat {
        font-size: 12px;
    }
}
@media screen and (orientation:portrait) and (max-width:600px) {
    .detail .dt {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .detail .dd {
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }
    .detail .det {
        height: auto;
        font-size: 12px;
        line-height: 20px;
    }
    .tocomment {
        font-size: 12px;
        margin-top: -12px;
    }
}
@media screen and (orientation:portrait) and (max-width:400px) {
    .detail .dt {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .detail .dd {
        height: 16px;
        font-size: 10px;
        line-height: 16px;
        margin-left: 5%;
    }
    .detail .det {
        height: auto;
        font-size: 10px;
        line-height: 16px;
        margin-left: 5%;
    }
    .tocomment {
        font-size: 10px;
        margin-top: -12px;
    }
    .tochat {
        transform: translateX(-5px);
    }
}

.tocomment:hover {
    color:rgb(45, 127, 162);
}
.tochat a:hover {
    color: rgba(0,0,0,.6);
}

/* 写母评 */
.addmcomment {
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    border:1px solid rgb(230,230,230) ; 
    outline: none;
    width: 65%;
    height: 55px;
    resize:none;
    color: rgba(0,0,0,.7);
    font-size: 14px;
    padding: 3px;
    transform: translateX(20%);
}
.uploadmc {
    /* transform: translate(2px,-8px); */
    border-radius: 5px;
    border: 0px;
    padding: 1px 5px;
    color:rgba(0,0,0,.7);
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
    position: relative;
    left:12%;
}

@media screen and (orientation:portrait) and (max-width:760px) {
    .addmcomment {
        margin-top: 5px;
        /* margin-left: -5px; */
        background-color: rgba(255,255,255,0);
        border-radius: 5px;
        border:1px solid rgb(230,230,230) ; 
        outline: none;
        width: 65%;
        height: 45px;
        resize:none;
        color: rgba(0,0,0,.7);
        font-size: 12px;
        padding: 3px;
    }
    .uploadmc {
        scale: 0.9;
    }
}
@media screen and (orientation:portrait) and (max-width:480px) {
    .addmcomment {
        width: 60%;
        height: 30px;
    }
    .uploadmc {
        scale: 0.8;
    }
}
.addmc {
    width: 100%;
    height: 80px;
    /* display: none; */
    opacity:0;
    /* background-color: #fff; */
}
.uploadmc:hover {
    box-shadow: 5px 0px 10px rgba(255,255,255,0.1),
    0px 5px 10px rgba(255,255,255,0.1),
    -5px 0px 10px rgba(255,255,255,0.1),
    0px -5px 10px rgba(255,255,255,0.1);
}
/* 写子评 */
.addsc {
    width: 100%;
}
.addsoncomment {
    margin-top: 6px;
    float: right;
    margin-right: 10%;
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    border:1px solid rgb(230,230,230) ; 
    outline: none;
    width: 73%;
    min-height: 60px;
    resize:none;
    color:rgba(255,255,255,.6);
    font-size: 14px;
    padding: 3px;
}

.uploadsc {
    transform:translate(637px,68px);
    border-radius: 5px;
    border: 0px;
    padding: 1px 5px;
    color:rgba(0,0,0,.7);
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
}

@media screen and (orientation:portrait) and (max-width:760px) {
    .uploadsc {
        transform:translate(0,68px);
        position: relative;
        left:85%;
    }
}
@media screen and (orientation:portrait) and (max-width:600px) {
    .uploadsc {
        transform:translate(0,68px);
        left:83%;
    }
}
@media screen and (orientation:portrait) and (max-width:480px) {
    .uploadsc {
        left:81%;
    }
}
.uploadsc:hover {
    box-shadow: 5px 0px 10px rgba(255,255,255,0.1),
    0px 5px 10px rgba(255,255,255,0.1),
    -5px 0px 10px rgba(255,255,255,0.1),
    0px -5px 10px rgba(255,255,255,0.1);
}
/* 评论区 */

.comment {
    width: 750px;
    height:auto;
    margin: 20px 20px;
    transition: 0.5s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* 母评 */
.mcomment {
    width: 80%;
    height: 100px;
    background-color: rgba(103, 193, 223, 0.3);
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
}
/* 头像 */
.comhp {
    position: relative;
    left :1%;
    top:10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.6);
    overflow: hidden;
}
.comcontent {
    font-size: 14px;
    margin: 10px 0px;
    /* max-width: 480px; */
    width: 480px;
    /* background-color: #fff; */
}

@media screen and (orientation:portrait) and (max-width:760px) {
    .comment {
        width: 92vw;
        height:auto;
        margin: 10px 0px;
        transition: 0.5s;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .mcomment {
        width: 100%;
        height: 100px;
        background-color: rgba(103, 193, 223, 0.3);
        display: flex;
        border-radius: 10px;
        margin-top: 15px;
    }
    .comhp {
        position: relative;
        left :1%;
        top:10%;
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        background-color: rgba(255,255,255,.6);
        overflow: hidden;
    }
    .comcontent {
        font-size: 12px;
        margin: 10px 0px;
        /* max-width: 300px; */
        width: 500px;
        line-height: 14px;
    }
}
@media screen and (orientation:portrait) and (max-width:650px) {
    .comcontent {
        width: 400px;
        line-height: 14px;
    }
}
@media screen and (orientation:portrait) and (max-width:540px) {
    .comcontent {
        width: 300px;
        line-height: 14px;
    }
}
@media screen and (orientation:portrait) and (max-width:420px) {
    .comcontent {
        width: 200px;
        line-height: 14px;
    }
}
.comhp img {
    width: 100%;
    height: 100%;
}
/* 表示信息？也许 */
.commentator {
    margin:10px 15px;
}
.comname ,.soncomment .name {
    font-size: 15px;
    color: rgb(28, 92, 117);
}
.comtime {
    color:rgba(0,0,0,.3);
}
.soncomment .time {
    color:rgba(0,0,0,.3);
    font-size: 12px;
}
/* 回复母评论 */
.tomcomment {
    float: right;
    transform: translate(120%,-140%);
    color: rgba(0,0,0,.4);
    cursor: pointer;
    font-family: 'icomoon';
    /* background-color: #fff; */
}
/* 子评 */
.soncomment {
    width: 73%;
    height: auto;
    background-color: rgba(118, 179, 210, 0.2);
    margin-bottom: 10px;
    margin-left: 7%;
    padding: 15px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 10px;
}

/* 子评时间&回复*/
.soncomment .time {
    float: right;
    transform: translate(20px,0px);
}

.replysc {
    float: right;
    font-size: 10px;
    color:rgba(0,0,0,.4);
    transform: translate(-18px,15px);
    cursor: pointer;
    margin: 3px 0px;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .soncomment {
        width: 100%;
        height: auto;
        background-color: rgba(118, 179, 210, 0.2);
        /* margin-bottom: 10px; */
        margin-left: 7%;
        padding: 15px;
        line-height: 20px;
        font-size: 14px;
        border-radius: 10px;
    }
    .tomcomment {
        float: right;
        color: rgba(0,0,0,.4);
        cursor: pointer;
        font-family: 'icomoon';
    }
    .replysc {
        float: right;
        font-size: 10px;
        color:rgba(0,0,0,.4);
        transform: translate(8px,18px);
        margin: 3px 0px;
        cursor: pointer;
    }
}
/* 底部 */
.detfoot {
    width: 100%;
    height: 50px;
}