/* 九物广场 */
.page_title {
    width: 100%;
    height: 50px;
    font-size: 40px;
    color: aliceblue;
    font-family:"楷体";
    font-weight: 500;
    text-align: center;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .page_title {
        font-size: 26px;
        transform: translateY(-5px);
    }
}
/* 标题外盒子 */
.box1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
/* 排序方式 */
.sort {
    width: 85px;
    height: 25px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left:78%;
    transform: translateY(50px);
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    font-family: 'icomoon';
    cursor: pointer;
}
/* 展开 */
.sortnav {
    width: 85px;
    height: 0px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.sortnav a {
    display: block;
    width: 100%;
    height: 33px;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .box1 {
        height: 40px;
        margin-top: 70px;
    }
    .sort {
        /* scale: 0.8; */
        left:100%;
        transform: translate(-120%,180%);
        z-index: 1;
    }
}
/* 鼠标悬浮展开 */
.sort:hover .sortnav{
    height: 132px;
}
.sortnav a:hover {
    background-color: rgb(212, 250, 250);
    color:rgb(95, 170, 228);
}
/* 搜索框外盒子 */
.box1_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 -10px 0;
}
/* 搜索框 */
.box1_5 form {
    display: flex;
}
/* 输入框 */
.searchtxt input {
    width: 290px;
    height: 45px;
    border-radius: 50px;
    border: 0px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    transition: 0.5s;
    
}
/* 按钮 */
.searchbtn {
    background-color:#fff;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    margin-left: -49.7px;
    font-family: 'icomoon';
    font-size: 28px;
    cursor: pointer;
}
/* 删除默认按钮 */
.searchbtn input {
    display: none;
}
.newbtn {
    /* cursor: pointer; */
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .box1_5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .search {
        scale: 0.9;
        /* transform: translateY(-50%); */
    }
}
/* 列表外盒子 */
.box2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 大盒子 */
.list {
    width: 1100px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* 框框 */
/* .item {
    width: 220px;
    height: 300px;
    margin: 20px 27px;
    border-radius: 2%;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(0,0,0,.3);
} */

.list span {
    width: 220px;
    height: 300px;
    margin: 20px 27px;
    border-radius: 2%;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(0,0,0,.3);
}
span div {
    width: 220px;
    height: 60px;
    position: absolute;
    box-shadow: inset 0px -55px 10px rgba(0,0,0,.4);
    color:#fff;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    transform: translateY(-100%);
}
span img {
    width: 220px;
    height: 300px;
    transition: 0.3s;
}
.list a {
    display: inline-block;
    width: 220px;
    height: 300px;
}

@media screen and (orientation:portrait) and (max-width:760px) {
    .box2 {
        width: 100%;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(30px);
    }
    .list span {
        width: 154px;
        height: 210px;
        margin: 20px 10px;
        border-radius: 2%;
        align-items: flex-end;
        overflow: hidden;
        box-shadow: 20px 20px 20px rgba(0,0,0,.3);
    }
    span div {
        width: 154px;
        height: 50px;
        position: absolute;
        box-shadow: inset 0px -45px 10px rgba(0,0,0,.4);
        color:#fff;
        border-radius: 3px;
        text-align: center;
        line-height:12px;
        transform: translateY(-100%);
        font-size: 8px;
    }
    span img {
        width: 154px;
        height: 210px;
        transition: 0.3s;
    }
    .list a {
        display: inline-block;
        width: 154px;
        height: 210px;
    }
    .list {
        transform: translateY(-8%);
    }
}

span img:hover {
    transform: scale(1.1);
}
/* 分页外盒子 */
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
@media screen and (orientation:portrait) and (max-width:760px) {
    .pagenav {
        scale: 0.8;
    }
}
/* 分页 */
.pagenav {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    color: azure;
}
.pagenav ul {
    display: flex;
    justify-content: space-around;
}
/* 分页的每个小盒子 */
.pagenav ul li {
    height: 40px;
    /* width: 40px; */
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 200;
    border-radius: 50%;
    cursor: pointer;
}
/* .list span {
    width: 200px;
    height: 200px;
    background-color: #fff;
} */