<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九物——暨南大学珠海校区闲置交易网站</title>
    <!-- 网站说明 -->
    <meta name="description" content="九十九物-暨大珠区首个闲置/二手物品交易网站，为您提供高效便捷的校内交易平台！"/>
    <meta name="keywords" content="暨南大学,珠海校区,闲置,二手,交易,买卖,线上"/>
    <!-- favicon图标 -->
    <link rel="shortcut icon" href="../static/default/favicon.ico"/>
    <!-- 初始化样式文件 -->
    <link rel="stylesheet" href="../static/default/css/base.css">
    <!-- 公共样式文件 -->
    <link rel="stylesheet" href="../static/default/css/common.css">
    <!-- 首页样式文件 -->
    <link rel="stylesheet" href="../static/default/css/index.css">
    <!-- 首页js文件 -->
    <script src="../static/default/js/index.js"></script>
</head>
<body>
    <!-- hesder头部模块 -->
        <div class="logo">
            <h1><a href="/" title="九物">九物</a></h1>
        </div>
    <!-- hesder头部模块end -->

    <!-- 通用伸缩侧边栏 -->
    <div class="nav">
        <div class="self">
            <!-- head portait头像 -->
            <div class="hp">
                {% if isLogin %}
                    <div class="tip"><a href="userIssue/mySpace/{{ uid }}/"><img src="../static/upload/abc.png"></a></div>
                {% else %}
                    <div class="tip"><a href="userIssue/login">点击登录</a></div>
                {% endif %}
            </div>
                {% if isLogin %}
                    <div class="name"><p>welcome~</p><h2>{{ name }}</h2></div>
                {% else %}
                    <div class="name"><p>welcome~</p><h2>yourname</h2></div>
                {% endif %}
        </div>
        <div class="navitem">
            <div class="line"></div>
            <div class="item">
                <div class="icon"></div>
                <div class="navt">我的</div>
            </div>
            <div class="navi"><a href="goodsIssue/newGoods">我要发布</a></div>
            <div class="navi"><a href="goodsIssue/myGoods/all">我的商品</a></div>
            <div class="item">
                <div class="icon"></div>
            <div class="navt">市场</div>
            </div>
            <div class="navi"><a href="goodsIssue/goodsList/all">全部商品</a></div>
            <div class="navi"><a href="goodsIssue/goodsList/day">今日新品</a></div>
            <div class="item">
                <div class="icon"><div class="hint"></div></div>
            <div class="navt">消息</div>
            </div>
            <div class="navi"><a href="message/">回复我的<span class="hint">12</span></a></div>
            <div class="navi"><a href="">系统通知<span class="hint">num</span></a></div>
        </div>
    </div>
    <!-- 通用伸缩侧边栏end -->

    <!-- 搜索框 -->
    <div class="search">
        <form method="get" action="search/all">
            <div class="searchtxt"><input type="text" placeholder="搜索商品（关键词）" name="keywords" value=""></div>
            <div class="searchbtn"><input href="search/" type="submit" class="acubtn"><i class="newbtn"></i></div> 
        </form>
    </div>
    <!-- 搜索框模块end -->

    <!-- 轮播图 -->
    <!-- <div class="slideshow">
        <div class="arrowl"></div>
        <div class="arrowr"></div>
        <ul class="pictures">
            <li class="picture"><a href="#"></a><img src="../static/upload/slidshow/pic1.jpg" alt=""></li>
            <li class="picture"><a href="#"></a><img src="../static/upload/slidshow/pic2.jpg" alt=""></li>
            <li class="picture"><a href="#"></a><img src="../static/upload/slidshow/pic3.jpg" alt=""></li>
            <li class="picture"><a href="#"></a><img src="../static/upload/slidshow/pic4.jpg" alt=""></li>
        </ul>
        小圆ol
        <ol></ol>
    </div> -->
    <!-- 轮播图end -->

    <footer>
        <div class="line"></div>
    </footer>

</body>
</html>