{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消息中心</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'default/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/message.css' %}">
    
    <script src="{% static 'default/jquery/dist/jquery.js' %}"></script>
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="type">
            {% if private_messages_unread_num != 0 %}
            <div class="my_news">我的消息<span class="hint"></span></div>
            {% else %}
            <div class="my_news">我的消息</div>
            {% endif %}

            {% if msg_cts_unread_num != 0 %}
            <div class="reply">回复我的<span class="hint"></span></div>
            {% else %}
            <div class="reply">回复我的</div>
            {% endif %}

            {% if msg_ces_unread_num != 0 %}
            <div class="goods_comment">商品评价<span class="hint"></span></div>
            {% else %}
            <div class="goods_comment">商品评价</div>
            {% endif %}
        </div>
        <div class="my_news_sty">
            {% for user,unread_num,last_message in my_news %}
            <a class="sender_1" href="/userIssue/PM/{{user.id}}">
                <div class="hp_1"><img src="../../static/upload/{{user.avatar}}" alt=""></div>
                {% if unread_num != 0 %}
                <div class="hint_1">{{unread_num}}</div>
                {% endif %}
                <div class="name_1">{{user.name}}</div>
                <div class="content_1">{{last_message}}</div>
            </a>
            {% endfor %}
        </div>
        <div class="reply_sty">
            {% for msg_ct in msg_cts %}
            <a class="sender_2" href="/goodsIssue/goodsDetail/{{msg_ct.reply_from.goods.id}}">
                <div class="content_2">{{msg_ct.owner.name}}回复@{{msg_ct.reply_to.name}}: {{msg_ct.content}}</div>
                <div class="pointer_2">"{{msg_ct.reply_from.content}}"</div>
            </a>
            {% endfor %}
        </div>
        <div class="goods_comment_sty">
            {% for msg_ce in msg_ces  %}
            <a class="sender_3" href="/goodsIssue/goodsDetail/{{msg_ce.goods.id}}">
                <div class="goods_3">商品 {{msg_ce.goods.name}} 下的评论：</div>
                <div class="content_3">{{msg_ce.owner.name}}: {{msg_ce.content}}</div>
                <div >{{ msg_ce.messagedate }}</div>
            </a>
            {% endfor %}
        </div>
        
    </div>
</body>
<script>
    // 自动刷新一次页面
    $(document).ready(function () {
            if(location.href.indexOf("#reloaded")==-1){
               location.href=location.href+"#reloaded";
               location.reload();
            }
        })
    var type=0;
    var my_news = document.querySelector('.my_news');
    var reply = document.querySelector('.reply');
    var goods_comment = document.querySelector('.goods_comment');
    var my_news_sty = document.querySelector('.my_news_sty');
    var reply_sty = document.querySelector('.reply_sty');
    var goods_comment_sty = document.querySelector('.goods_comment_sty');
    //点击效果
    my_news.addEventListener('click',function(){
        if(type!="my_news"){
            type="my_news";
            reply_sty.style.display='none';
            goods_comment_sty.style.display='none';
            my_news_sty.style.display='block';
            reply.style.color="rgba(0,0,0,.6)";
            goods_comment.style.color="rgba(0,0,0,.6)";
            my_news.style.color="rgb(55, 152, 209)";
            reply.style.backgroundColor='rgba(255, 255, 255, 0)';
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0)';
            my_news.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    reply.addEventListener('click',function(){
        if(type!="reply"){
            type="reply";
            goods_comment_sty.style.display='none';
            my_news_sty.style.display='none';
            reply_sty.style.display='block';
            goods_comment.style.color="rgba(0,0,0,.6)";
            my_news.style.color="rgba(0,0,0,.6)";
            reply.style.color="rgb(55, 152, 209)";
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0)';
            my_news.style.backgroundColor='rgba(255, 255, 255, 0)';
            reply.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    goods_comment.addEventListener('click',function(){
        if(type!="goods_comment"){
            type="goods_comment";
            reply_sty.style.display='none';
            my_news_sty.style.display='none';
            goods_comment_sty.style.display='block';
            my_news.style.color="rgba(0,0,0,.6)";
            reply.style.color="rgba(0,0,0,.6)";
            goods_comment.style.color="rgb(55, 152, 209)";
            my_news.style.backgroundColor='rgba(255, 255, 255, 0)';
            reply.style.backgroundColor='rgba(255, 255, 255, 0)';
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    //添加红点

</script>
</html>