<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消息中心</title>
    <link rel="shortcut icon" href={% static 'default/favicon.ico' %}/>
    <link rel="stylesheet" href={% static 'default/css/base.css' %}>
    <link rel="stylesheet" href={% static 'default/css/common.css' %}>
    <link rel="stylesheet" href={% static 'default/css/message.css' %}>

    <link rel="shortcut icon" href="../../static/default/favicon.ico"/>
    <link rel="stylesheet" href="../../static/default/css/base.css">
    <link rel="stylesheet" href="../../static/default/css/common.css">
    <link rel="stylesheet" href="../../static/default/css/message.css">
    
    <script src="../../static/default/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="type">
            <div class="my_news">我的消息<span class="hint"></span></div>
            <div class="reply">回复我的<span class="hint"></span></div>
            <div class="goods_comment">商品评价<span class="hint"></span></div>
        </div>
        {% for  in  %}
            <div class="my_news_sty">
                <a class="sender_1">
                    <div class="hp_1"><img src="../../static/upload/abc.png" alt=""></div>
                    <div class="hint_1">num</div>
                    <div class="name_1">{{name}}</div>
                    <div class="content_1">{{啦啊啊啊啊啊啊laallalala啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊}}</div>
                </a>
            </div>
        {% endfor %}
        {% for  in   %}
        <div class="reply_sty">
            <a class="sender_2">
                <div class="pointer_2">"{{我发布的评论}}"</div>
                <div class="content_2">{{回信人}}: {{对我评论的回复}}</div>
            </a>
        </div>
        {% endfor %}
        {% for  in   %}
        <div class="goods_comment_sty">
            <a class="sender_3">
                <div class="goods_3">商品 {{商品名称}} 下的评论：</div>
                <div class="content_3">{{回信人}}: {{对我商品的评论}}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
<script>
    var type=0;
    var my_news = document.querySelector('.my_news');
    var reply = document.querySelector('.reply');
    var goods_comment = document.querySelector('.goods_comment');
    var my_news_sty = document.querySelector('.my_news_sty');
    var reply_sty = document.querySelector('.reply_sty');
    var goods_comment_sty = document.querySelector('.goods_comment_sty');
    //点击效果
    my_news.addEventListener('click',function(){
        if(type!="my_news"){
            type="my_news";
            reply_sty.style.display='none';
            goods_comment_sty.style.display='none';
            my_news_sty.style.display='block';
            reply.style.color="rgba(0,0,0,.6)";
            goods_comment.style.color="rgba(0,0,0,.6)";
            my_news.style.color="rgb(55, 152, 209)";
            reply.style.backgroundColor='rgba(255, 255, 255, 0)';
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0)';
            my_news.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    reply.addEventListener('click',function(){
        if(type!="reply"){
            type="reply";
            goods_comment_sty.style.display='none';
            my_news_sty.style.display='none';
            reply_sty.style.display='block';
            goods_comment.style.color="rgba(0,0,0,.6)";
            my_news.style.color="rgba(0,0,0,.6)";
            reply.style.color="rgb(55, 152, 209)";
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0)';
            my_news.style.backgroundColor='rgba(255, 255, 255, 0)';
            reply.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    goods_comment.addEventListener('click',function(){
        if(type!="goods_comment"){
            type="goods_comment";
            reply_sty.style.display='none';
            my_news_sty.style.display='none';
            goods_comment_sty.style.display='block';
            my_news.style.color="rgba(0,0,0,.6)";
            reply.style.color="rgba(0,0,0,.6)";
            goods_comment.style.color="rgb(55, 152, 209)";
            my_news.style.backgroundColor='rgba(255, 255, 255, 0)';
            reply.style.backgroundColor='rgba(255, 255, 255, 0)';
            goods_comment.style.backgroundColor='rgba(255, 255, 255, 0.2)';
        }
    })
    //添加红点

</script>
</html>