<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统通知</title>
    <link rel="shortcut icon" href="../../../static/default/favicon.ico"/>
    <link rel="stylesheet" href="../../../static/default/css/base.css">
    <link rel="stylesheet" href="../../../static/default/css/common.css">
    <link rel="stylesheet" href="../../../static/default/css/system_msg.css">
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="top">系统通知</div>
        <div class="content">
            <div class="news">通知是系统围绕着某个功能与用户进行沟通交流的重要方式
                ，目的在于让用户了解新事件的信息动态。 这里有两层意思：
                 触发器触发器是用户行为（单击、输入、发送…）的驱动器，导致APP执行了某
                 项操作。 从通知的角度来看，就是另一个用户与你的信息（动态、消息等）发
                 生了行为交互，而形成一个通知。----2022-8-20
            </div>
            <div class="news">通知是系统围绕着某个功能与用户进行沟通交流的重要方式
                ，目的在于让用户了解新事件的信息动态。 这里有两层意思：
                 触发器触发器是用户行为（单击、输入、发送…）的驱动器，导致APP执行了某
                 项操作。 从通知的角度来看，就是另一个用户与你的信息（动态、消息等）发
                 生了行为交互，而形成一个通知。----2022-8-20
            </div>
            <div class="news">通知是系统围绕着某个功能与用户进行沟通交流的重要方式
                ，目的在于让用户了解新事件的信息动态。 这里有两层意思：
                 触发器触发器是用户行为（单击、输入、发送…）的驱动器，导致APP执行了某
                 项操作。 从通知的角度来看，就是另一个用户与你的信息（动态、消息等）发
                 生了行为交互，而形成一个通知。----2022-8-20
            </div>
        </div>
    </div>
</body>
<script>
    var content = document.querySelector('.content');
    for(let i=0;i<content.length;i++){
        content[i].addEventListener('click',function(){
            content[i].style.height='auto';
        })
    }
</script>
</html>