{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统通知</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'default/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/system_msg.css' %}">
    <script src="{% static 'default/js/safe.js' %}"></script>
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="top">系统通知</div>
        <div class="content">
            <div class="news">欢迎各位加入九物跳蚤网站（内测阶段），本网站致力于为全校学生提供方便快捷的在线二手交易信息，打通信息壁垒、避免交易群的人数限制、时间限制等
                诸多弊端，由于本项目仅由二人开发，或有诸多不足，如有任何建议或BUG反馈，请联系我们：
                <p>前端问题@茯苓子（QQ：2510055954）</p>
                后端问题@寂灭光（QQ：1137040634）
                <p>不清楚问题分类的请随意联系其中一个即可~</p>
                感谢各位支持~
            </div>
            
        </div>
    </div>
</body>
<script>
    var content = document.querySelector('.content');
    for(let i=0;i<content.length;i++){
        content[i].addEventListener('click',function(){
            content[i].style.height='auto';
        })
    }
</script>
</html>