<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>私聊</title>
    <link rel="shortcut icon" href="../../../static/default/favicon.ico"/>
    <link rel="stylesheet" href="../../../static/default/css/base.css">
    <link rel="stylesheet" href="../../../static/default/css/common.css">
    <link rel="stylesheet" href="../../../static/default/css/chat.css">
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="object">{{ Black.name }}</div>
    <div class="w">
        {% for message in messages %}
            {% if message.uid_from == Alice.id %}
                <div class="self">
                    <div class="time">{{message.messagedate}}</div>
                    <div class="hp"><img src="../../../static/upload/{{ Alice.avatar}}" alt=""></div>
                    <div class="content">
                        <div class="txt">{{ message.content }}</div>
                        <div class="triangle"></div>
                    </div>
                </div>
            {% else %}
                <div class="other">
                    <div class="time">{{message.messagedate}}</div>
                    <div class="hp"><img src="../../../static/upload/{{ Black.avatar}}" alt=""></div>
                    <div class="content">
                        <div class="txt">{{ message.content }}</div>
                        <div class="triangle"></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <a class="lab" href="#lab"></a>
        <div id="lab"></div>
    </div>
    <form class="text" action="" method="post">
        <!-- 安全性参数 -->
        {% csrf_token %}
        <textarea name="content" id="" cols="30" rows="3" required="required"></textarea>
        <input class="send_btn" type="submit" value="发送"></input>
    </form>
    <script>
        // 直达底部
        var lable = document.querySelector('.lab');
        lable.click();
    </script>
</body>
</html>