{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>私聊</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'default/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/chat.css' %}">
    <script src="{% static 'default/js/safe.js' %}"></script>
    
    <script src="{% static 'default/jquery/dist/jquery.js' %}"></script>
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="object">{{ Black.name }}</div>
    <div class="w">
        {% for message in messages %}
            {% if message.pm_from == Alice %}
                <div class="self">
                    <div class="time">{{message.messagedate|date:"Y-m-d H:i:s"}}</div>
                    <div class="hp"><img src="../../../static/upload/{{ Alice.avatar}}" alt=""></div>
                    <div class="content">
                        <div class="txt">{{ message.content }}
                            {% if message.image %}
                                <img src="../../../static/upload/{{ message.image}}">
                            {% endif %}
                        </div>
                        <!-- <img src=''>-->
                    </div>
                    {% if message.isRead %}
                        <div class="read">已读</div>
                    {% else %}
                        <div class="unread">未读</div>
                    {% endif %}
                </div>
            {% else %} 
                <div class="other">
                    <div class="time">{{message.messagedate|date:"Y-m-d H:i:s"}}</div>
                    <div class="hp"><img src="../../../static/upload/{{ Black.avatar}}" ></div>
                    <div class="content">
                        <div class="txt">{{ message.content }}
                            {% if message.image %}
                                <img src="../../../static/upload/{{ message.image}}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <a class="lab" href="#lab"></a>
        <div id="lab"></div>
    </div>
    <div class="text clearfix">
        <textarea name="content" id="my_content" cols="30" rows="3" required="required"></textarea>
        <div class="send_btn">发送</div>
        <div class="photo"></div>
        <input type="file" id="send_img" accept="image/*">
    </div>
    <!-- <form class="post" action="./" method="post">
        安全性参数
        {% csrf_token %}
        <input type="text" name="refresh" value="refresh">
        <input type="text" name="pastdate" value="{{ pastdate | date:"Y-m-d H:i:s" }}">
        <input type="submit" id="post">
    </form> -->
</body>

<script>
    // 直达底部
    var lable = document.querySelector('.lab');
    lable.click();

    // 获取当前时间
    function addZero(s) {
        return s < 10 ? ('0' + s) : s;
    }
    function getNowTime() {
        var date = new Date();
        var year = date.getFullYear();  
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var time = year + '-' + addZero(month) + '-' + addZero(day) + ' ' + addZero(hour) + ':' + addZero(minute) + ':' + addZero(second);
        return time;
    }

    //前端显示消息
    var w = document.querySelector('.w');
    var owner;
    function add_new_msg(Content,Time,Owner,SRC,Photo){//内容、时间、归属、头像、图片
        owner = document.createElement('div');
        var time = document.createElement('div');
        var hp = document.createElement('div');
        var content = document.createElement('div');
        var txt = document.createElement('div');
        var isRead = document.createElement('div');
        var img = document.createElement('img');
        w.appendChild(owner);
        owner.appendChild(time);
        owner.appendChild(hp);
        owner.appendChild(content);
        content.appendChild(txt);
        content.appendChild(isRead);
        hp.appendChild(img);
        isRead.innerHTML='未读';
        owner.className=Owner;
        time.className='time';
        hp.className='hp';
        img.setAttribute("src",SRC);
        content.className='content';
        time.innerHTML=(Time);
        txt.className='txt';
        isRead.className='unread';
        if(Content!=''){
            txt.innerHTML=(Content);
        }
        else{
            var photo = document.createElement('img');
            photo.setAttribute('src',Photo);
            txt.appendChild(photo);
        }
    }

    //删除定位标签
    function delete_lab(){
        for(let i=0;i<2;i++){
            w.removeChild(w.children[w.children.length-1]);
        }
    }
    //加上定位标签
    function add_lab(){
        var a=document.createElement('a');
        var lab = document.createElement('div');
        w.appendChild(a);
        w.appendChild(lab);
        a.className='lab';
        a.setAttribute("href","#lab");
        lab.setAttribute("id","lab");
        lable.click();
    }

    //发送图片
    var photo = document.querySelector('.photo');
    var send_img = document.querySelector('#send_img');
    photo.addEventListener('click',function(){
        send_img.click();
    })
    send_img.addEventListener('change',function(){
            var file = this.files[0];
            if(file.value != ''){
                delete_lab();//删除定位标签
                add_new_msg('',getNowTime(),'self',"../../../static/upload/{{ Alice.avatar}}",URL.createObjectURL(file));
                add_lab();//加上定位标签
                var formData = new FormData();
                formData.append("image",file);
                formData.append("csrfmiddlewaretoken","{{csrf_token}}");
                $.ajax({
                    type: "POST",
                    url: "",
                    data:formData,
                    async: false,
                    processData: false,
                    contentType:false,
                    success: function(msg){
                        //alert(msg);
                    },
                    error: function(msg){
                        //显示感叹号提示
                        var err_tag=document.createElement('div');
                        owner.appendChild(err_tag);
                        err_tag.className='err';
                        err_tag.innerHTML=('!');
                    }
                });
                file.value='';
            }
    },this);

    //发送消息
    var send_btn=document.querySelector('.send_btn');
    var my_content=document.querySelector('#my_content');
    send_btn.addEventListener('click',function(){
        if(my_content.value != ''){
            delete_lab();
            add_new_msg(my_content.value,getNowTime(),'self',"../../../static/upload/{{ Alice.avatar}}");
            add_lab();
            $.ajax({
                type: "POST",         //获取方式
                url: "",    //数据读取地址(默认当前页面)  
                data:{"csrfmiddlewaretoken": "{{csrf_token}}","content":my_content.value} ,
                dataType:"json",    
                success: function(msg){
                    //alert(msg);
                },
                error: function(msg){
                    //显示感叹号提示
                    var err_tag=document.createElement('div');
                    owner.appendChild(err_tag);
                    err_tag.className='err';
                    err_tag.innerHTML=('!');
                }
            });
            my_content.value='';
        }
    })

    //加载消息数据
    var past_date = "{{ pastdate }}";
    function get_msg(){
        $.ajax({
            type: "POST",         //获取方式
            url: "",    //数据读取地址(默认当前页面)  
            data:{"csrfmiddlewaretoken": "{{csrf_token}}","refresh": "true","pastdate":past_date} ,
            dataType:"json",    
            success: function(msg){
                var length = msg.length;
                if (length !=0){
                    delete_lab();
                    for(let i=0;i<length;i++){
                        add_new_msg(msg.content[i],msg.messagedate[i],'other',"../../../static/upload/{{ Black.avatar}}","../../../static/upload/"+msg.image_name[i]);
                    }
                    past_date = msg.pastdate;
                    add_lab();
                }
            },
            error: function(msg){
                //alert(msg.length);
            }
        });
    }
    // 计时器自动加载
    var timer=setInterval(function(){
        get_msg();
    },5000)
    //clearInterval(timer);
</script>
</html>