{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九物——个人中心</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'default/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/self.css' %}">
    <!-- 引入jquery,cropper -->
    <script src="{% static 'default/jquery/dist/jquery.js' %}"></script>
    <!-- <script src="../../static/default/cropperjs/dist/cropper.js"></script> -->
    <link rel="stylesheet" href="{% static 'default/cropperjs/dist/cropper.css' %}">
    
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/cropper/4.1.0/cropper.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/cropper/4.1.0/cropper.css"> -->
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="header">
            <div class="hp">
                {% if user.avatar != '' %}
                <img src="../../../../static/upload/{{user.avatar}}">
                {% else %}
                <img src="{% static 'images/default_avatar.png' %}">
                {% endif %}
            </div>
            <div class="mes">
                <!-- <input type="text"> -->
                <div class="name">{{user.name}}</div>
                {% if user.signature != '' %}
                <div class="introductory">{{user.signature}}</div>
                {% else %}
                <div class="introductory">这个家伙没有设置签名哦~</div>
                {% endif %}
            </div>
        </div>
        <div class="condition">
            <div style="pointer-events:none;">
                <i class="num">?</i><br>
                <span class="goods_new">当前上架</span>
            </div>
            <span class="line_self"></span>
            <div style="pointer-events:none;">
                <i class="num">?</i><br>
                <span class="goods_all">全部商品</span>
            </div>
            <span class="line_self"></span>
            <div style="pointer-events:none;">
                <i class="num">?</i><br>
                <span class="attention">关注</span>
            </div>
            <span class="line_self"></span>
            <div style="pointer-events:none;">
                <i class="num">?</i><br>
                <span class="fans">粉丝</span>
            </div>
        </div>
        <div class="footer">
            <div class="to_edit">编辑资料</div>
            <div style="pointer-events:none;">关注</div>
            <a href="/userIssue/PM/{{user.id}}"><div>私信</div></a>
        </div>
    </div>
    <form class="edit" name="" method="post" action="">
        <!-- 安全性参数 -->
        {% csrf_token %}
        <div class="return">&nbsp&lt&lt&nbsp返回</div>
        <div class="new_name">
            <div class="tips">编辑昵称：</div>
            <input type="text" name="name" id="EditName" placeholder="{{user.name}}">
        </div>
        <div class="signature">
            <div class="tips">编辑签名：</div>
            <textarea name="signature" id="EditSignature" cols="30" rows="6" placeholder="{{user.signature}}"></textarea>
        </div>
        <div class="new_hp">
            <div class="tips" id="uploadImage">更改头像</div>
            <img  id="previewImage" alt=""><!-- 预览图片v1 -->
            <input class="input_file" id="inputFile_base64" type="text"  name="imagefile">
            <input class="input_file" id="inputFile_name" type="text" name="imagefile_name">
            <span id="setWH"></span>
        </div>
        <input id="input_file" type="file" class="input_file">
        <input class="upload" id="upload" type="submit" value="确认编辑" accept="image/*"></input>
    </form>
</body>
<script>
    //切换编辑
    var w = document.querySelector('.w');
    var to_edit = document.querySelector('.to_edit');
    var edit=document.querySelector('.edit');
    var returner =document.querySelector('.return');
    to_edit.addEventListener('click',function(){
        w.style.display='none';
        edit.style.display='block';
    })
    returner.addEventListener('click',function(){
        edit.style.display='none';
        w.style.display='block';
    })

    var previewImage =document.querySelector('#previewImage')
    var uploadImage=document.querySelector('#uploadImage');
    var input_file = document.querySelector('#input_file');
    var setWH = document.querySelector('#setWH');
    uploadImage.addEventListener('click',function(){
            document.querySelector('#input_file').click();
        });
    //预览图片
    input_file.addEventListener('change',function(){
            var file = this.files[0];
            name = file.name;
            previewImage.src = file ? URL.createObjectURL(file) : '';
            tailor();
        },this);
    //裁剪
    function tailor(){
            $('#previewImage').cropper({
                aspectRatio:1/1,
                viewMode:1,
                autoCropArea:1,
                background:false,
                
                ready:function () {
                    console.log("ready");
                },
                cropstart: function (e) {
                    console.log("cropstart");
                },
                cropmove: function (e) {
                    console.log("cropmove");
                },
                cropend: function (e) {
                    console.log("cropend");
                },
                crop: function (e) {
                    console.log("crop");
                },
                zoom: function (e) {
                    console.log("zoom");
                },
                //setData:{width:100,height:200},
            });

            //$("#previewImage").cropper('setCanvasData',{left:100,top:100,width:100,height:100});
            // $("#setWH").on("click",function(){
            //     $('#previewImage').cropper('setCanvasData',{left:100,top:100,width:100,height:100});
            //     console.log("aaa");
            // })
            // setWH.click();
            $("#upload").on("click", function () {
                //console.log($('#previewImage').cropper('getCroppedCanvas'));;
                var cas=$('#previewImage').cropper('getCroppedCanvas');
                var base64url=cas.toDataURL('image/jpeg');
                var inputFile = document.getElementById('inputFile_base64');
                var inputFile_name = document.getElementById('inputFile_name');
                inputFile.value = base64url;
                inputFile_name.value = name;
            })
        }
</script>
</html>