<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九物——个人中心</title>
    <link rel="shortcut icon" href="../../../static/default/favicon.ico"/>
    <link rel="stylesheet" href="../../../static/default/css/base.css">
    <link rel="stylesheet" href="../../../static/default/css/common.css">
    <link rel="stylesheet" href="../../../static/default/css/self.css">
</head>
<body>
    <div class="logo"><a href="/"></a></div>
    <div class="w">
        <div class="header">
            <div class="hp">
                <img src="../../../static/upload/{{user.avatar}}" alt="">
            </div>
            <div class="mes">
                <div class="name">{{user.name}}</div>
                <div class="introductory">{{user.signature}}</div>
            </div>
        </div>
        <div class="condition">
            <div>
                <i class="num">5</i><br>
                <span class="goods_new">当前上架</span>
            </div>
            <span class="line_self"></span>
            <div>
                <i class="num">10</i><br>
                <span class="goods_all">全部商品</span>
            </div>
            <span class="line_self"></span>
            <div>
                <i class="num">15</i><br>
                <span class="attention">关注</span>
            </div>
            <span class="line_self"></span>
            <div>
                <i class="num">8</i><br>
                <span class="fans">粉丝</span>
            </div>
        </div>
        <div class="footer">
            <div>编辑资料</div>
            <div>关注</div>
            <div>私信</div>
        </div>
    </div>
</body>
</html>